<div class="row" ng-controller="allTutorialsController">
    <div class="col-lg-5">
        <div class="bs-component"> 
            <div class="btn-group-vertical">
                <div  ng-repeat="tutorial in tutorials">
                    <a class="btn btn-default btn-block" style="text-align:left"
                       href="#/tutorials/{{tutorial.TutorialID}}/#">
                        {{tutorial.tutorialName}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="bs-component">
            <div class="list-group-item">
                <div class="text-info">
                <h3>Какво цели този проект?</h3> 
                <p>Да даде възможност на <strong>курсиста </strong> да разбере, осъзнае и научи бързо и качествено предлаганата тема. </p>
                <p>Да помогне на <strong>преподавателя </strong>с обратна информация, кое не се разбира правилно.
                    за да коригира своя урок. </p>
                </div>
            </div>
        </div>

        <h3>Доброто учебно видео</h3> 
        <div class="bs-component">
            <p>Видео урокът е широко разпространен метод за представяне на учебно съдържание.
                Практиката показва, че доброто учебно видео има следните характеристики: 

            </p>
            <ul>
                <li>То е подготвено по сценарий</li>
                <li>Подчинено е на една тема и има ясно послание</li>
                <li>Дава практическо решение на един проблем, или...</li>
                <li>... подготвя потребителя за решението на проблем</li>
                <li>Има изчистена визия и звук</li>
                <li>Оптималната продължителност е от 10 до 25 минути</li>

            </ul>
            <p>Ако един видео урок е добре направен, неговото съдържание може да се опише с четири пет кратки изречения.</p>
        </div>
        <h3>Как да затвърдим наученото?</h3> 
        <div class="bs-component">

            <p><strong>Този проект предлага създаването и използването на тест!</strong></p>
            <ul>
                <li>Преподавателят създава тест, който се състои от няколко възлови твърдения в урока</li>
                <li>Всяко твърдение има три части - начало или подлог, среда - сказеумо и дясна част - обстоятелства</li>
                <li>Курсистът получава трите части на всяко изречение към урока разбъркани</li>
                <li>Курсистът се опитва да сглоби верните изречения</li>
                <li>Всяко вярно изречение е истина, до която курсистът е достигнал сам и затова 
                    то <strong>остава </strong> на екрана.</li>
                <li>Курсистът вижда само броя на грешките си, това не е изпит!</li>
                <li>Преподавателят може да види най-често срещаните грешки на курсистите, сортирани по брой</li>
                <li>Освен с видео, курсистът има достъп до файлове към урока. Там няма да намери "решени всички задачи",
                    но ще получи помощ и така ще спести време.</li>
            </ul>
        </div>
    </div>

